.address {
    margin-top: 20px;
}

.address__item {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.address__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $address-color;
}

.address__text--wight {
    color: $wight-color;
}
