.mail-input__block {
    margin-left: auto;
}

.mail-input {
    box-sizing: border-box;

    margin: 0;
    padding: 11px 12px;

    width: 358px;
    height: 50px;

    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: #fff;
    //color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    background-color: $secondary-background-color;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 1px solid $accent-color;
        border-radius: 4px;
    }

    &:focus {
        outline: none;

        border: 1px solid $accent-color;
        border-radius: 4px;
    }
}

.mail-input__btn {
    display: inline-flex;
    align-items: center;

    margin-left: 12px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: none;
        //outline: none;

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        transform: scale(1.1);
    }
}

.mail-input-btn__text {
    margin-right: 10px;
}
