.subscribe {
    margin-left: 70px;
}

.subscribe-soc-link__list {
    display: flex;
}

.subscribe-soc-link__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.subscribe-soc-link-item__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44px;
    width: 44px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        background-color: $accent-color;
        transform: scale(1.1);
    }
}
